<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="db" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=[website db];Integrated Security=SSPI;"/>
  </connectionStrings>
  <appSettings>
    <add key="WebsitePath" value=".\Website"/>
    <add key="ip" value ="localhost"/>
    <add key="ports" value ="80"/>
    <add key="emailusername" value="[email server username]"/>
    <add key="emailpassword" value="[email server password]"/>
    <add key="emailfrom" value ="postmaster@[your website].com"/>
    <add key="emailhost" value ="mail.[your website].com"/>
    <add key="website" value="localhost"/>
    <add key="sitename" value="Web Template"/>
  </appSettings>
</configuration>
